*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
html{
    font-size: 62.5%;
}
nav ul{
    margin-top: 6rem;
    list-style: none;
}
header nav{
    display: flex;
    justify-content: center;
}
nav ul li{
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
}
nav .nav-center-section .logo-icon{
    background-image: url("http://pngimg.com/uploads/wikipedia/wikipedia_PNG11.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 17.6rem;
    height: 3.2rem;
}
/*Main top*/
main .main-top{
    margin: 0 auto;
    width: 42rem;
    font-size: 1.6rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
h3{
    color: #36c;
    font-size: 1.6rem;
}
main span{
    font-size: 1.3rem;
    color: #54595d;
}
h3, span{
    text-align: center;
}
.main-top .main-top-español, .main-top .main-top-english{
    padding: 0.5rem 2rem;    
}
.main-top .main-top-español h3:hover, .main-top .main-top-english h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.main-top .main-top-español:hover, .main-top .main-top-english:hover{
    background-color: #eaecf0;
}
/*main middle*/
main .main-middle{
    margin-top: 2rem;
    width: 100vw;
    display: flex;
    justify-content: center;
}
main .main-middle-izq .main-middle-izq1{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2.8rem;
}
main .main-middle-izq .main-middle-izq2{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2.8rem;
    margin-right: 0.6rem;
}
main .main-middle-izq .main-middle-izq3{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2.8rem;
}
main .main-middle-izq1 div, main .main-middle-izq2 div, main .main-middle-izq3 div{
    padding: 0.5rem 2rem;
}
.main-middle .main-middle-izq1 h3:hover, .main-middle .main-middle-izq2 h3:hover, .main-middle .main-middle-izq3 h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.main-middle .main-middle-izq1 div:hover, .main-middle .main-middle-izq2 div:hover, .main-middle .main-middle-izq3 div:hover{
    background-color: #eaecf0;
}
main .main-middle-middle{
    background-image: url("https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2@1.5x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 18.3rem;
    width: 18.3rem;
}
main .main-middle-der .main-middle-der1{
    display: flex;
    margin-bottom: 2.8rem;
}
main .main-middle-der .main-middle-der2{
    display: flex;
    margin-left: 0.6rem;
    margin-bottom: 2.8rem;
}
main .main-middle-der .main-middle-der3{
    display: flex;
    margin-bottom: 2.8rem;
}
main .main-middle-der1 div, main .main-middle-der2 div, main .main-middle-der3 div{
    padding: 0.5rem 2rem;
}
.main-middle .main-middle-der1 h3:hover, .main-middle .main-middle-der2 h3:hover, .main-middle .main-middle-der3 h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.main-middle .main-middle-der1 div:hover, .main-middle .main-middle-der2 div:hover, .main-middle .main-middle-der3 div:hover{
    background-color: #eaecf0;
}
/*main bottom*/
main .main-bottom{
    margin: 0 auto;
    width: 40rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}
.main-bottom .main-bottom-izq, .main-bottom .main-bottom-der{
    padding: 0.5rem 2rem;    
}
.main-bottom .main-bottom-izq h3:hover, .main-bottom .main-bottom-der h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.main-bottom .main-bottom-izq:hover, .main-bottom .main-bottom-der:hover{
    background-color: #eaecf0;
}
/*Search*/
main .main-input{
    height: 4.4rem;
    margin: 2.5rem 0 2.5rem 0;

}
main .main-input .input-search{
    display: flex;
    justify-content: center;
    margin-left: 6rem;
}
.input-search .search{
    display: flex;
    align-items: center;
}
.input-search .search #input1{
    width: 39.32rem;
    height: 4.4rem;
    padding: 0.8rem 6.4rem 0.8rem 1.2rem;
    border: 1px solid #a2a9b1;
}
.input-search .search #input1:hover{
    border: 1px solid #72777d;
}
.input-search .search #input1:focus{
    /*outline: 0.16rem solid #36c;*/
    box-shadow: inset 0 0 0 0.16rem #36c;
    outline: 0;
}
.search .cursos{
    position: relative;
    right: 6rem;
}
.search .cursos input{
    border: none;
}
.search .cursos input{
    width: 4.83rem;
    height: 2.4rem;
}
.main-input .main-button{
    position: relative;
    right: 6rem;
}
.main-input .main-button{
    width: 5.6rem;
    height: 4.4rem;
    border: none;
    border-radius: 0.2rem;
    background-color: #36c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.main-input .main-button:hover{
    background-color: #447ff5;
}
.main-input .main-button button{
    height: 2.2rem;
    width: 2.2rem;
}
.main-input .main-button i{
    background-image: url("https://raw.githubusercontent.com/scarsbrooks/WikiClone/main/img/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 2.2rem;
    width: 2.2rem;
}
/*Ultimate*/
main .main-ultimate{
    margin-bottom: 3rem;
}
main .container-center{
    width: 46rem;
    height: 3.6rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.container-center #center-line{
    width: 46rem;
    height: 0.1rem;
    background-color: #c8ccd1;
}
.container-center #center-space{
    width: 33rem;
    height: 3.6rem;
    background-color: white;
    position: absolute;
    margin-left: 6.5rem;
}
.container-center #center-button{
    width: 30rem;
    height: 3.6rem;
    background-color: white;
    position: absolute;
    margin-left: 8rem;
}
.container-center #center-button button{
    width: 30rem;
    height: 3.6rem;
    border-radius: 0.2rem;
    border: 0.1rem solid #a2a9b1;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #36c;
    font-weight: 700;
}
.container-center #center-button button:focus{
    box-shadow: inset 0 0 0 0.16rem #36c;
    outline: 0;
}
#center-button button span{
    color: #36c;
    font-weight: 1000;
    font-size: 1.4rem;
    margin-left: 3rem;
}
#center-button button #center-button-flecha{
    background-image: url("https://w7.pngwing.com/pngs/175/947/png-transparent-arrow-computer-icons-down-arrow-angle-black-desktop-wallpaper.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1.4rem;
    width: 1.4rem;
    margin-left: 1.5rem;
}
/*Footer*/
footer hr{
    border: 0;
    border-bottom: 0.1rem solid #c8ccd1;
    margin: 0.26rem 1.3rem;
}
footer section{
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    padding: 4.16rem 1.28rem 1.28rem;
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: 0.37fr 0.63fr;
    align-items: center;

}
.footer-container .container-left{
    justify-self: left;
    width: 100%;
    height: 36.4rem;
}
.c1{
    width: 100%;
    min-height: 7.68rem;
    margin-bottom: 3.2rem;
}
.c1 .c1-content{
    position: relative;
    max-width: 35rem;
    margin: 0 auto;
}
#c1-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Wikimedia-logo_black.svg/768px-Wikimedia-logo_black.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 4.2rem;
    width: 4.2rem;
    position: absolute;
    top: 0;
}
#c1-parrafo{
    position: relative;
    padding-left: 6rem;
    padding-right: 2rem;
    line-height: 1.5;
    color: #54595d;
}
#c1-link{
    position: relative;
    padding-left: 6rem;
    padding-right: 2rem;
    color: #54595d;
}
#c1-link a{
    outline: 0;
    line-height: 1.5;
    color: #36c;
    text-decoration: none;
}
#c1-link a:hover{
    text-decoration: underline;
}
.c2{
    width: 100%;
    min-height: 17.6rem;
    margin-bottom: 3.2rem;
}
.c2 .c2-content{
    position: relative;
    max-width: 35rem;
    margin: 0 auto;
    height: 16rem;
    padding: 0.8rem 2rem 0.8rem 6rem;
    background-color: #f8f9fa;
}
#content-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Wikipedia%27s_W.svg/2048px-Wikipedia%27s_W.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 4.2rem;
    width: 4.2rem;
    position: absolute;
    top: 0.5rem;
    left: 0;
}
.c2-content ul{
    list-style: none;
}
.c2-content strong a{
    font-weight: 700;
    outline: 0;
    line-height: 1.5;
    color: #36c;
    text-decoration: none;
}
.c2-content strong a:hover{
    text-decoration: underline;
}
.c2-content p{
    margin: 1.3rem 0;
    color: #54595d;
    line-height: 1.5;
}
.c2-content ul li{
    display: inline-block;
}
#content-icon2{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcx8sRXXQmSlzJSrNHCefb7yHRWl2BPBTuTA&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 3.8rem;
    width: 12.4rem;
}
#content-icon3{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA9Tb6aYC87jAhTJX-ydw-48Ngk--iVqhI0Q&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 3.8rem;
    width: 12.4rem;
}
.container-right{
    width: 100%;
    justify-self: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container-right1{
    height: 9rem;
    width: 25rem;
}
.container-right1:hover{
    background-color: #eaecf0;
}
.container-right a{
    display: inline-block;
    min-height: 5rem;
    width: 100%;
    padding: 1em;
}
.container-right1 .container-right1-icon{
    width: 5rem;
    height: 4.7rem;
    display: inline-block;
}
.container-right1 .container-right1-text{
    max-width: 70%;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.5;
}
.container-right1-text span{
    display: block;
    text-align: start;
}
#right1-text1{
    color: #36c;
}
#right1-text2{
    color: #54595d;
    font-size: 1.3rem;
}
#right1-icon1{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/2000px-Commons-logo.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 4.7rem;
    width: 4.7rem;
}
#right1-icon2{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Wikivoyage-Logo-v3-icon.svg/1200px-Wikivoyage-Logo-v3-icon.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 3.6rem;
    width: 3.6rem;
}
#right1-icon3{
    background-image: url("https://i.pinimg.com/originals/b1/18/f0/b118f041c05a1f97a3f1a45f3aac82f3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 4.7rem;
    width: 4.7rem;
}
#right1-icon4{
    background-image: url("https://w7.pngwing.com/pngs/764/157/png-transparent-wikibooks-wikimedia-project-wikimedia-foundation-logo-notification-symbol-blue-angle-text.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 4.7rem;
    width: 4.7rem;
}
#right1-icon5{
    background-image: url("https://w7.pngwing.com/pngs/142/526/png-transparent-wikinews-logo-asia-wikimedia-foundation-wikipedia-asia-globe-logo-wikimedia-commons.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 4.7rem;
    width: 4.7rem;
}
#right1-icon6{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Notification-icon-Wikidata-logo.svg/1200px-Notification-icon-Wikidata-logo.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 4.7rem;
    width: 4.7rem;
}
#right1-icon7{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Wikiversity-logo.svg/1280px-Wikiversity-logo.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 4.7rem;
    width: 4.7rem;
}
#right1-icon8{
    background-image: url("https://e7.pngegg.com/pngimages/378/688/png-clipart-wikimedia-project-wikimedia-foundation-wikiquote-wikimedia-commons-wikimedia-meta-wiki-internet-blue-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 4.7rem;
    width: 4.7rem;
}
#right1-icon9{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/MediaWiki-2020-icon.svg/1024px-MediaWiki-2020-icon.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 4.7rem;
    width: 4.7rem;
}
#right1-icon10{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Notification-icon-Wikisource-logo.svg/1024px-Notification-icon-Wikisource-logo.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 4.7rem;
    width: 4.7rem;
}
#right1-icon11{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/53/Wikimedia-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 4.7rem;
    width: 4.7rem;
}
#right1-icon12{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Meta-Wiki_Proposed_logo.svg/900px-Meta-Wiki_Proposed_logo.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 4.7rem;
    width: 4.7rem;
}
.footer-end{
    margin: 1.4rem 0;
    font-size: 1.4rem;
    line-height: 1.5;
}
.footer-end ul{
    text-align: center;
}
.footer-end ul li{
    list-style: none;
    display: inline-block;
    color: #54595d;
    line-height: 1.5;
}
.footer-end ul li a{
    text-decoration: none;
    color: #36c;
    margin: 0 1rem;
}
.footer-end ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer-end .end-pseudoelement::after{
    content: "\2022";
}